*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.menu{
    width: 100%;
    min-height: 120px;
    background-color: rgba(0, 0, 0, 0.801);
    border-radius: 0 0 25px 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-wrap: wrap;
    gap: 120px;
}
.menu__part{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;

    padding-left: 100px;

}
.picture{
    width: 50px;
    height: 50px;
}
.logo{
    height: 100px;
    width: 220px;
}
.instalogo{
    height: 80px;
    width: 80px;
}
a{
    text-decoration: none;
    color: white;
}
.footer{
    width: 100%;
    min-height: 200px;
    background-color: rgba(0, 0, 0, 0.815);
    display: flex;
    color: white;
    justify-content: space-around;
    align-items: center;
    border-radius: 25px 25px 0 0;
}
.footer__insta{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.footer__info{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.footer__contacts{
    gap: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.footer__contacts--part{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 8px;
}
.footer__logo{
    margin-bottom: 15px;
    height: 100px;
    width: 220px;
}
.hero{
    height: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    height: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    height: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content{
    height: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login{
    height: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cart{
    height: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
}


@media (max-width: 992px) {
  .menu {
    gap: 40px;
  }

  .menu__part {
    gap: 20px;
    padding-left: 0;
  }

  .logo {
    height: 80px;
    width: 180px;
  }

  .picture {
    width: 40px;
    height: 40px;
  }
}




@media (max-width: 768px) {
  .menu {
    justify-content: space-between;
    flex-direction: column;
    padding: 10px 20px;
  }

  .menu__logo{
    align-items: center;
    justify-content: center;
  }

  .menu__toggle {
    display: block;
  }

  .menu__part {
    flex-direction: column;
    gap: 20px;
    width: 100%;
    border-radius: 0 0 25px 25px;
    padding: 20px 0;
  }

  .menu__part.active {
    display: flex;
  }

  .menu__part h2 {
    font-size: 20px;
  }

  .footer {
    flex-direction: column;
    text-align: center;
    gap: 20px;
  }

  .footer__insta {
    flex-direction: column;
    padding-bottom: 20px;
  }

  .footer__contacts{
    padding-top: 20px;
  }
}