@import url('https://fonts.googleapis.com/css2?family=Alan+Sans:wght@300..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
  font-family: "Alan Sans", sans-serif;
}
body{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menu{
    width: 100%;
    min-height: 75px;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.664);
    border-radius: 0 0 70px 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-wrap: wrap;
    gap: 50px;
    position: fixed;
    z-index: 5000;
}
.menu__part{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding-left: 100px;
}
.picture-uzivatel{
    width: 45px;
    height: 40px;
}
.picture-cart{
  width: 50px;
  height: 50px;
}
.logo{
    height: 75px;
    width: 160px;
}
.instalogo{
    height: 80px;
    width: 80px;
}
a{
    text-decoration: none;
    color: white;
}
.footer{
    width: 100%;
    min-height: 180px;
    background-color: rgba(0, 0, 0, 0.753);
    background-image: url(../images/pozadicko.jpg);
    display: flex;
    color: white;
    justify-content: space-around;
    align-items: center;
}
.footer--grey{
    width: 100%;
    min-height: 200px;
    background-color: rgba(0, 0, 0, 0.685);
    display: flex;
    color: white;
    justify-content: space-around;
    align-items: center;
    border-radius: 40px 40px 0 0;
}
.footer__insta{
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer__info{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.footer__contacts{
    gap: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.footer__contacts--part{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}
.footer__logo{
    margin-bottom: 15px;
    height: 100px;
    width: 220px;
}
.hero{
    width: 100%;
    height: 1100px;
    display: flex;
    justify-content: center;
    background-image: url(../images/pozadicko.jpg);
    background-color: rgb(32, 32, 32);
    position: relative;
    flex-direction: column;
    margin: auto;
}
.box{
  width: 100%;
    min-height: 2000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 180px;
    padding-bottom: 100px;
    background-color: #00000085;
    background-image: url(../images/pozadicko.jpg);
    color: white;
    gap: 80px;
}
.box__part--people{
  height: 500px;
  width: 360px;
  background-color: rgba(0, 0, 0, 0.705);
  border-radius: 40px 40px 40px 40px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.box__part--people:hover{
  transform: scale(1.05);
}
.box__picture{
  width: 290px;
  height: 370px;
  margin-bottom: 16px;
  margin-top: 28px;
  border-radius: 40px 40px 40px 40px;
}
.box__part{
  display: flex;
  gap: 200px;
  flex-wrap: wrap;
}
.box__text{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 410px;
  background-color: #00000094;
  border-radius: 25px;
}
.content{
    height: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login{
    height: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cart{
    height: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.underline{
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.underline::after{
  content: "";
  position: absolute;
  top: 55px;
  left: 0;
  bottom: 0; 
  width: 0;
  height: 4px; 
  background-color: #ffffff; 
  transition: width 0.4s ease; 
}
.underline:hover::after{
  width: 100%;
}
.slideshow-container {
  width: 86%;
  position: relative;
  margin: auto;
  margin-top: 120px;
}
.mySlides {
  display: none;
}
.prev, .next {
  cursor: pointer;
  position: absolute;
  width: auto;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 5px 5px 5px 5px;
  user-select: none;
  top: 48%;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}
.mySlides__picture3{
  position: absolute;
  width: 30%;
  max-width: 400px;
  height: auto;
  top: 25%;
  right: 45%;
  rotate: -8deg;
}
.mySlides__picture2{
  position: absolute;
  max-width: 280px;
  width: 30%;
  height: auto;
  top: 35%;
  left: 16%;
  rotate: -10deg;
}
.mySlides__picture1{
  position: absolute;
  width: 30%;
  max-width: 400px;
  height: auto;
  top: 25%;
  right: 18%;
  rotate: 10deg;
}
.mySlides__text1{
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 42%;
  left: 10%;
  font-size: 30px;
}
.mySlides__hlavnitext1{
  border-bottom: white 4px solid;
  width: 430px;
}
.mySlides__textík1{
  font-size: 20px;
  padding-top: 15px;
  width: 430px;
  display: flex;
  line-height: 30px;
}
.mySlides__text2{
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 35%;
  right: 20%;
  font-size: 30px;
}
.mySlides__hlavnitext2{
  border-bottom: white 4px solid;
  width: 460px;
  display: flex;
}
.mySlides__textík2{
  font-size: 20px;
  padding-top: 15px;
  width: 430px;
  display: flex;
  line-height: 30px;
}
.mySlides__text3{
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 40%;
  right: 10%;
  font-size: 30px;
}
.mySlides__hlavnitext3{
  border-bottom: white 4px solid;
  width: 460px;
  display: flex;
}
.mySlides__textík3{
  font-size: 20px;
  padding-top: 15px;
  width: 430px;
  display: flex;
  line-height: 30px;
}
.mySlides__background{
  border-radius: 30px 30px 30px 30px;
}
.active, .dot:hover {
  background-color: #717171;
}
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}
@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
.hero2, .hero3{
  width: 100%;
  height: 700px;
  background-image: url(../images/pozadicko.jpg);
  display: flex;
  justify-content: center;
  gap: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero2__produkt--text{
  min-height: 500px;
  width: 750px;
  padding-top: 50px;
  color: white;
  background-color: #00000094;
  border-radius: 40px 40px 40px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero3__produkt--text{
  min-height: 440px;
  width: 750px;
  padding-top: 50px;
  color: white;
  background-color: #00000094;
  border-radius: 40px 40px 40px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero3__produkt--picture, .hero2__produkt--picture{
  display: flex;
  justify-content: center;
}
.hero2__picture, .hero3__picture{
  max-height: 600px;
  max-width: 420px;
  border-radius: 40px 40px 40px 40px;
}
.hero2__maintext, .hero3__maintext{
  display: flex;
  justify-content: center;
  gap: 50px;
}
.hero2__text, .hero3__text{
  display: flex;
  justify-content: center;
  max-width: 700px;
  line-height: 40px;
  padding-top: 50px;
}
.hero4{
  width: 100%;
  min-height: 500px;
  background-image: url(../images/pozadicko.jpg);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  color: white;
}
.hero4__maintext{
  min-height: 50px;
  max-width: 250px;
  background-color: #00000085;
  border-radius: 25px 25px 25px 25px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 80px;
  padding: 10px;
}
.hero4__text{
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1600px;
  background-color: #00000085;
  border-radius: 25px 25px 25px 25px;
  padding: 25px;
}
.hero4__image{
  max-height: 400px;
  max-width: 800px;
  background-color: #00000094;
  border-radius: 25px 25px 25px 25px;
  margin-top: 50px;
  margin-bottom: 100px;
}
#navbar {
  top: 0;
  width: 100%;
  transition: top 0.3s;
}
#navbar a {
  color: #f2f2f2;
  padding: 15px;
  text-decoration: none;
}
#navbar a:hover {
}
.container{
    height: 400px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../images/pozadicko.jpg);
    gap: 10px;
    padding-top: 150px;
    padding-bottom: 80px;
    color: white;
}
.container2{
  min-height: 700px;
  width: 100%;
  background-image: url(../images/pozadicko.jpg);
  display: flex;
  justify-content: center;
  gap: 200px;
  color: white;
  flex-wrap: wrap;
}
.container3{
  min-height: 700px;
  width: 100%;
  background-image: url(../images/pozadicko.jpg);
  display: flex;
  justify-content: center;
  gap: 200px;
  color: white;
  flex-wrap: wrap;
}
.container__maintext{
  background-color: #00000085;
  font-size: 40px;
  height: 70px;
  width: 320px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px 25px 25px 25px;
}
.container__produkt1{
  height: 550px;
  width: 350px;
  border-radius: 40px 40px 40px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #00000085;
  cursor: pointer;
}
.container__produkt1:hover{
  height: 550px;
  width: 350px;
  border-radius: 25px 25px 25px 25px;
  background-image: url(../images/noc1.png);
}
.container__produkt2{
  height: 550px;
  width: 350px;
  border-radius: 40px 40px 40px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #00000085;
  cursor: pointer;
}
.container__produkt3{
  height: 550px;
  width: 350px;
  border-radius: 40px 40px 40px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #00000085;
  cursor: pointer;
}
.container__produkt3:hover{
  height: 550px;
  width: 350px;
  border-radius: 25px 25px 25px 25px;
  background-image: url(../images/stres1.png);
}
.container__produkt2:hover{
  height: 550px;
  width: 350px;
  border-radius: 25px 25px 25px 25px;
  background-image: url(../images/slunce1.png);
}
.container__produkt4{
  height: 550px;
  width: 350px;
  border-radius: 40px 40px 40px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #00000085;
  cursor: pointer;
}
.container__produkt4:hover{
  height: 550px;
  width: 350px;
  border-radius: 25px 25px 25px 25px;
  background-image: url(../images/more1.png);
}
.container__produkt5{
  height: 550px;
  width: 350px;
  border-radius: 40px 40px 40px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #00000085;
  cursor: pointer;
}
.container__produkt5:hover{
  height: 550px;
  width: 350px;
  border-radius: 25px 25px 25px 25px;
  background-image: url(../images/hory1.png);
}
.container__produkt6{
  height: 550px;
  width: 350px;
  border-radius: 40px 40px 40px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #00000085;
  cursor: pointer;
}
.container__produkt6:hover{
  height: 550px;
  width: 350px;
  border-radius: 25px 25px 25px 25px;
  background-image: url(../images/les1.png);
}
.container__image{
  height: 430px;
  width: 315px;
}
.container__image2{
  height: 360px;
  width: 185px;
  padding-bottom: 20px;
  margin-top: 70px;
  margin-bottom: 20px;
}
a{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.eachprodukt{
  width: 100%;
  min-height: 1000px;
  background-image: url(../images/pozadicko.jpg);
  display: flex;
  justify-content: center;
  gap: 400px;
  padding-top: 200px;
}
.eachprodukt__image{
  max-height: 600px;
  width: auto;
}
@media (max-width: 1650px) {
  .container2, .container3{
    gap: 80px;
    padding-bottom: 80px;
  }

  .produkt2, .produkt3{
    gap: 150px;
  }

  .hero{
    height: 900px;
  }
  .menu__part{
    gap: 15px;
  }

  .menu{
    font-size: 15px;
    gap: 30px;
  }

  .mySlides__hlavnitext1, .mySlides__hlavnitext2, .mySlides__hlavnitext3{
    display: none;
  }

  .mySlides__textík1, .mySlides__textík2, .mySlides__textík3{
    display: none;
  }

  .mySlides__picture1, .mySlides__picture3{
    width: 20%;
    right: 40%;
  }
  
  .mySlides__picture2{
    left: 40%;
    top: 20%;
    width: 16%;
  }

  .hero2, .hero3{
    gap: 120px;
    height: 600px;
  }

  .hero2__picture, .hero3__picture{
    max-height: 500px;
    max-width: 300px;
  }

  .hero2__text, .hero3__text{
    max-width: 500px;
    line-height: 40px;
    padding-top: 50px;
    font-size: 20px;
  }

  .hero3__produkt--text{
    max-width: 550px;
  }
  
  .hero4__text{
    max-width: 1200px;
    font-size: 20px;
  }
}

@media (max-width: 1000px) {

  .container2, .container3{
    gap: 70px;
    padding-bottom: 70px;
  }

  .hero{
    height: 400px;
  }
  .menu {
    gap: 20px;
  }

  .logo {
    height: 80px;
    width: 180px;
  }

  .picture {
    width: 40px;
    height: 40px;
  }

  .hero3__picture {
    width: 80%;
    max-width: 400px;
    height: auto;
    border-radius: 40px;
  }
   .hero2, .hero3{
    gap: 100px;
  }
   .hero2__text, .hero3__text{
    max-width: 300px;
    line-height: 20px;
    font-size: 15px;
  }

  .hero3__produkt--text, .hero2__produkt--text{
    width: 400px;
  }

  .box__part--people{
    height: 420px;
    width: 300px;
  }
  
  .box__picture{
    height: 280px;
    width: 220px;
  }

}


@media (max-width: 768px) {
  .container2, .container3{
    gap: 40px;
    padding-bottom: 40px;
  }
  
  .container{
    padding-top: 400px;
  }

  .container__produkt1, .container__produkt2, .container__produkt3, .container__produkt4, .container__produkt5, .container__produkt6{
    height: 450px;
    width: 300px;
  }

  .container__image{
    height: 350px;
    width: 220px;
  }

  .container__image2{
    padding: 0;
    height: 270px;
    width: 150px;
  }

  .footer{
    font-size: 12px;
  }

  .menu {
    justify-content: space-between;
    flex-direction: column;
    padding: 10px 20px;
    font-size: 12px;
  }
  
  .navbar{
    font-size: 12px;
  }

  .menu__logo{
    align-items: center;
    justify-content: center;
  }

  .menu__toggle {
    display: block;
  }

  .menu__part {
    flex-direction: column;
    gap: 20px;
    width: 100%;
    border-radius: 0 0 25px 25px;
    padding: 20px 0;
  }

  .menu__part.active {
    display: flex;
  }

  .menu__part h2 {
    font-size: 20px;
  }

  .footer, .footer--grey {
    flex-direction: column;
    text-align: center;
    gap: 20px;
  }

  .footer__insta {
    flex-direction: column;
    padding-bottom: 20px;
  }

  .footer__contacts{
    padding-top: 20px;
  }

  .hero__slider{
    margin-top: 500px;
  }

  .box{
    display: flex;
    justify-content: center;
    padding-top: 350px;
    padding-bottom: 40px;
  }

  .underline::after{
    top: 45px;
  }

  .hero{
    padding-top: 300px;
  }

  .box__part{
    display: flex;
    justify-content: center;
  }

  .hero2{
    flex-direction: column-reverse;
    align-items: center;
    padding-top: 150px;
    gap: 20px;
  }

  .hero3{
    flex-direction: column;
    gap: 20;
    padding-top: 0;
    padding-bottom: 0;
  }

  .hero3__picture, .hero2__picture {
    width: 80%;
    max-width: 300px;
    height: auto;
    border-radius: 40px;
  }

  .hero3__produkt--text, .hero2__produkt--text{
    font-size: 10px;
    max-width: 250px;
    align-items: center;
  }

  .hero3__text, .hero2__text{
    padding-left: 12px;
  }

  .hero2, .hero3{
    height: 1100px;
  }

  .menu {
    font-size: 6px;
    min-height: 30px;
    gap: 0px;
    padding: 0;
  }

  .logo {
    width: 120px;
    height: auto;
  }

  .picture-uzivatel, .picture-cart, .instalogo {
    width: 30px;
    height: 30px;
  }

  .underline{
    height: 36px;
  }
  
  .menu__part{
    padding: 0;
    height: auto;
    gap: 0;
  }
}