*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.menu{
    width: 100%;
    min-height: 120px;
    background-color: rgba(0, 0, 0, 0.671);
    border-radius: 0 0 25px 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-wrap: wrap;
}
.menu__part1{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-right: 100px;
    padding-left: 100px;
}
.menu__part2{
    display: flex;
    gap: 20px;
}
.picture{
    width: 60px;
    height: 55px;
}
.logo{
    height: 100px;
    width: 200px;
}
a{
    text-decoration: none;
    color: white;
}
.footer{
    height: 200px;
    background-color: rgba(0, 0, 0, 0.836);
    display: flex;
}