*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.menu{
    width: 100%;
    min-height: 120px;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.274);
    border-radius: 0 0 40px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-wrap: wrap;
    gap: 120px;
    position: fixed;
    z-index: 5000;
}
.menu__part{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding-left: 100px;
}
.picture-uzivatel{
    width: 45px;
    height: 40px;
}
.picture-cart{
  width: 50px;
  height: 50px;
}
.logo{
    height: 100px;
    width: 220px;
}
.instalogo{
    height: 80px;
    width: 80px;
}
a{
    text-decoration: none;
    color: white;
}
.footer{
    width: 100%;
    min-height: 200px;
    background-color: rgb(19, 19, 19);
    display: flex;
    color: white;
    justify-content: space-around;
    align-items: center;
}
.footer__insta{
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer__info{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.footer__contacts{
    gap: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.footer__contacts--part{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 8px;
}
.footer__logo{
    margin-bottom: 15px;
    height: 100px;
    width: 220px;
}
.hero{
    height: 1500px;
    display: flex;
    justify-content: center;
    background-color: rgb(32, 32, 32);
    position: relative;
    margin: auto;
}
.container{
    height: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    height: 2000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 180px;
    background-color: #717171;
    color: white;
    gap: 80px;
}
.box__part--people{
  height: 500px;
  width: 360px;
  background-color: black;
  border-radius: 40px 40px 40px 40px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.box__picture{
  width: 320px;
  height: 380px;
  margin-bottom: 20px;
  margin-top: 20px;
  border-radius: 40px 40px 40px 40px;
}
.box__part{
  display: flex;
  gap: 200px;
  flex-wrap: wrap;
}
.box__text{
  height: 25px;
}
.content{
    height: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login{
    height: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cart{
    height: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.underline{
    position: relative;
    display: inline-block;
    cursor: pointer;
}

  .underline::after{
    content: "";
    position: absolute;
    top: 40px;
    left: 0;
    bottom: 0; /* zarovná čáru k dolnímu okraji textu */
    width: 0;
    height: 2px; /* tloušťka čáry */
    background-color: #ffffff; /* barva čáry */
    transition: width 0.4s ease; /* plynulý přechod */
}
.underline:hover::after{
  width: 100%;
}


@media (max-width: 992px) {
  .menu {
    gap: 40px;
  }

  .menu__part {
    gap: 20px;
    padding-left: 0;
  }

  .logo {
    height: 80px;
    width: 180px;
  }

  .picture {
    width: 40px;
    height: 40px;
  }
}


@media (max-width: 768px) {
  .menu {
    justify-content: space-between;
    flex-direction: column;
    padding: 10px 20px;
  }

  .menu__logo{
    align-items: center;
    justify-content: center;
  }

  .menu__toggle {
    display: block;
  }

  .menu__part {
    flex-direction: column;
    gap: 20px;
    width: 100%;
    border-radius: 0 0 25px 25px;
    padding: 20px 0;
  }

  .menu__part.active {
    display: flex;
  }

  .menu__part h2 {
    font-size: 20px;
  }

  .footer {
    flex-direction: column;
    text-align: center;
    gap: 20px;
  }

  .footer__insta {
    flex-direction: column;
    padding-bottom: 20px;
  }

  .footer__contacts{
    padding-top: 20px;
  }

  .hero__slider{
    margin-top: 500px;
  }
}


.hero{
  height: 1500px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.slideshow-container {
  width: 75%;
  height: 800px;
  position: relative;
  margin: auto;
}


.mySlides {
  display: none;
}



.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 65%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}


.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}


.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}


.active, .dot:hover {
  background-color: #717171;
}


.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
